
/* Mobile device >>>>> */
@media (min-width: 768px){
    .desktop-hide {
        display: none;
    }
}

/* Mobile devies max width <<<<< */
@media (max-width: 767px) {
    .container{
        width: 95%;
    }
    header {
        display: none;
    }
    .left-slide, .right-slide {
        display: none;
    }
    .hero-title h1 {
        font-size: 10px;
        text-align: center;
    }
    .bg {
        height: 196px;
        left: -101px;
        top: -120px;
    }
    .quality-content span::before {
        font-size: 55px;
        left: 58px;
        right: 63px;
        top: 10px;
    }
    .quality-item-wrapper ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }
    .quality-content h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .quality-content p{
        font-size: 15px;
        color: var(--light);
    }
    .quality-thumb {
        width: 90px;
        height: 90px;
    }
    .title h2::before {
        font-size: 56px;
        left: 36px;
        right: 78px;
        top: -20px;
        text-shadow: unset;
    }
    .featured-left{
        display: none;
    }
    .bg1 {
        height: 166px;
        top: -110px;
    }
    .featured-right h2 {
        font-size: 52px;
        line-height: 52px;
        font-family: poppinsBold;
        margin-bottom: 11px;
    }
    .featured-wrapper{
        margin-top: 20px;
    }
    .featured-right .featured-subtitle, .featured-right p, .footer-bio p{
        color: var(--light);
    }
    .blog-wrapper{
        flex-direction: column;
    }
    .blog-section{
        padding: 0px;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .footer-section{
        margin-top: 60px;
        height: 990px;
    }
    .footer-logo-thumb {
        position: relative;
        margin: unset;
        margin-bottom: 40px;
        width: 173px;
    }
    .footer-logo-thumb img {
        position: absolute;
        top: -52px;
    }
    .footer-bg {
        background-position: right;
        height: 240px;
        position: absolute;
        right: 0px;
        top: -121px;
        width: 180px;
    }
    .footer-box{
        min-height: 230px;
    }
    .footer-links li{
        padding: unset;
    }
    .footer-links a{
        font-size: 14px;
    }
    .footer-title h2 {
        font-family: poppins;
        font-size: 16px;
        text-transform: uppercase;
    }
    .footer-bio p{
        font-size: 15px;
    }

    /* Single page */
    .single-thumb{
        height: 230px;
    }
    .single-title{
        bottom: 4px;
    }
    .single-title h1{
        font-size: 23px;
    }
    .single-wrapper{
        padding: 5px;
        margin-top: 10px;   
    }
    .single-content p{
        font-size: 15px;
        color: var(--light);
    }
    .single-excerpt p{
        margin-bottom: unset;
        font-size: 14px;
        font-family: poppins;
    }
    .thumb-title{
        z-index: unset;
    }
    
}